<html>
<head>
  <title>Azure AD B2C API Sample</title>
  </head>
<body>
Your API will now be available via http://localhost:5000/api/Values

Obtain a token by signing in <a href="https://login.microsoftonline.com/<your-B2C-Tenant-Name>/oauth2/v2.0/authorize?p=<B2C-Policy-Name>&client_id=<Client-ID>&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=<Your-Scope>&response_type=token&prompt=login" target="_blank">here.</a>
<br/>
<br/>
Try it out via curl using the comand below.
Make sure your replace [TOKEN] with the token obtained from the link above.
<br/>
<i>curl http://localhost:5000/api/Values -i --header "Authorization: Bearer <b>[TOKEN]</b>"</i>
<br/>
<br/>
Note: Port will vary depending on whether you run via Visual Studio or <i>"dotnet run"</i> (port 5000)
</body>
</html>
